<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<title>Title</title>
	<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
	<script>
		window.onload = function () {
			document.querySelector("#deleteForm").addEventListener("submit", function (e) {
				e.preventDefault();

				const name = document.querySelector('#name').value;

				axios.delete("/deldata", {
					params: {
						name: name
					}
				})
						.then(function (response) {
							alert("삭제 성공 : " + response.data);
						})
						.catch(function (err) {
							alert("에러 발생 : " + err);
						})
			});
		}
	</script>
</head>
<body>
<form id="deleteForm">
	name: <input type="text" name="name" id="name"><br>
	<input type="submit" value="delete">
</form>
</body>
</html>