<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Title</title>
	<style type="text/css">
		table {
			width: 100%;
			border-collapse: collapse;
		}

		td, th {
			border: 1px solid black;
			padding: 8px;
			text-align: left;
		}
		th {
			background-color: #f2f2f2;
		}
	</style>
</head>
<body>
<h1>카톡 자료</h1>
<table>
	<thead>
		<tr>
			<th>질문</th><th>답변</th>
		</tr>
	</thead>
	<tbody>
		<tr th:each="kdata:${dataList}">
			<td th:text="${kdata.req}"></td>
			<td th:text="${kdata.res}"></td>
		</tr>
	</tbody>
</table>
</body>
</html>